<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>youEdvin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header id="header"></header>
    {{#if knownUser }}
    <script src="/js/header/loggedInHeader.js"></script>
    {{else}}
    <script src="/js/header/strangerHeader.js"></script>

    <!-- Have JS file updating header -->
    <!-- Change from log in/register to log out/upload -->
    <!-- Remove child, update with new -->
    <!-- Should also update if logs out -->
    <!-- <a href="/">Home Page</a> -->
    {{/if}}
    <p>{{>flash}}</p>
    {{{ body }}}
</body>
</html>