<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>youEdvin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!--  -->
    {{#if loggedIn }}
        <header>
            <ul>
                <li class="menuItem">
                    <form action="/">
                        <input type="submit" value="Home Page" class="menuLink">
                    </form>
                </li>
                <li class="menuItem">
                    <form action="/upload">
                        <input type="submit" value="Upload video!" class="menuLink">
                    </form>
                </li>
                <li class="menuItem">
                    <form action="/logout">
                        <input type="submit" value="Log out" class="menuLink">
                    </form>
                </li>
            </ul>
        </header>
    {{else}}
        <header>
            <ul>
                <li class="menuItem">
                    <form action="/">
                        <input type="submit" value="Home Page" class="menuLink">
                    </form>
                </li>
                <li class="menuItem">
                    <form action="/login">
                        <input type="submit" value="Log in!" class="menuLink">
                    </form>
                </li>
                <li class="menuItem">
                    <form action="/presignup">
                        <input type="submit" value="Sign up!" class="menuLink">
                    </form>
                </li>
            </ul>
        </header>
    {{/if}}
    <p>{{>flash}}</p>
    {{{ body }}}
</body>
</html>