<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>youEdvin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <!--  -->
    {{#if username }}
        <div id="mainMenu">
            <div class="menuItem" id="menu1">
                <a href="/" class="menuLink">Home Page</a>
            </div>
            <div class="menuItem" id="menu2">
                <a href="/logout" class="menuLink">Log out</a>
            </div>
            <div class="menuItem" id="menu3">
                <a href="/upload" class="menuLink">Upload video!</a>
            </div>
            <div class="menuItem" id="menu4">
                {{ username }}
            </div>
        </div>     
    {{else}}
        <div id="mainMenu">
            <div class="menuItem" id="menu1">
                <a href="/" class="menuLink">Home Page</a>
            </div>
            <div class="menuItem" id="menu2">
               <a href="/login" class="menuLink">Log in!</a> 
            </div>
            <div class="menuItem" id="menu3">
                <a href="/presignup" class="menuLink">Sign up!</a>
            </div>
        </div>
    {{/if}}
    <section id="mainSection">
        <p>{{>flash}}</p>
        {{{ body }}}
    </section>
    <footer id="mainFooter">
        <div class="footerItem" id="iconCredit">
            Icons by: <a href="https://icons8.com/">icons8</a>
        </div>
        <div class="footerItem" id="videoAmount">
            ... uploaded videos
        </div>
    </footer>
    <script src="/js/footer.js"></script>
</body>
</html>