<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>youEdvin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
    <!--  -->
    {{#if loggedIn }}
        <header id="mainHeader">
            <ul>
                <li class="menuItem" id="menu1">
                    <a href="/">Home Page</a>
                </li>
                <li class="menuItem" id="menu2">
                    <a href="/logout" class="menuLink">Log out</a>
                </li>
                <li class="menuItem" id="menu3">
                    <a href="/upload" class="menuLink">Upload video!</a>
                </li>
            </ul>
        </header>
    {{else}}
        <header id="mainHeader">
            <ul>
                <li class="menuItem" id="menu1">
                    <a href="/" class="menuLink">Home Page</a>
                </li>
                <li class="menuItem" id="menu2">
                    <a href="/login" class="menuLink">Log in!</a>
                </li>
                <li class="menuItem" id="menu3">
                    <a href="/presignup" class="menuLink">Sign up!</a>
                </li>
            </ul>
        </header>
    {{/if}}
<body>
        <p>{{>flash}}</p>
        {{{ body }}}
</body>
</html>