<!-- -->
<h3>Log in here</h3>
<form action="/login" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<p>
<label for="username">Username:</label>
<input type="text" name="username">
</p>

<p>
<label for="Password">Password:</label>
<input type="password" name="password">
</p>

<p><button>Log in</button></p>

</form>