<!-- -->
<h3>Log in!</h3>
<form action="/login" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<p>
<input type="text" name="username" placeholder="Username">
</p>

<p>
<input type="password" name="password" placeholder="Password">
</p>

<p><button>Log in!</button></p>

<p>Not already registered?</p>

<p><a href="/signup">Sign up</a></p>

</form>