<h2>Do you accept cookies?</h2>
<img src="/img/acceptCookie.jpg" alt="Have a cookie, it's on the house!" width="300px">
<p>
    <form action="/presignup" method="POST">
    <button class="big-green-btn">OMG Yes!</button>
    </form>
</p>
<p>
    <a href="/"><button>No thanks :/</button></a>
</p>