<h2>Do you accept cookies?</h2>
<p>
    <form action="/presignup" method="POST">
    <pre>&#9;<button>Yes!</button></pre>
    </form>
</p>
<p>
    <pre>&#9;<a href="/"><button>No!</button></a></pre>
</p>