<!-- -->
<p><img src="/img/teamwork.jpg" alt="Yay!" width="300px"></p>
<h3>Sign up here</h3>
<form action="/signup" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<p>
Username: 
<input type="text" name="username">
</p>

<p>
Password:
<input type="password" name="password">
</p>

<p>
Confirm password: 
<input type="password" name="confirmPassword">
</p>

<p>
<button>Sign up</button>
</p>

</form>