<!-- -->
<p><img src="/img/teamwork.jpg" alt="Yay!" width="300px"></p>
<h3>Sign up!</h3>
<form action="/signup" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<p>
Username: <br>
<input type="text" name="username" placeholder="Username">
</p>

<p>
Password:<br>
<input type="password" name="password" placeholder="Password">
</p>

<p>
Confirm password: <br>
<input type="password" name="confirmPassword" placeholder="Confirm password">
</p>

<p>
<button>Sign up</button>
</p>

</form>