<h3>Account settings</h3>

<p>
    Split into two pages, one for username change one for 
    password change
</p>

<form action="/editUser" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<p>
    Username: <br>
    <input type="text" name="username" value="{{username}}">
</p>
<button disabled="disabled" id="editPass">
Change password: If the user clicks here, an input field for password should emerge
</button>

<p>
     New password: <br>
     <input type="password" name="newPass" id="changePass" placeholder="New password">
 </p>

<p>
    Current password: <br>
    <input type="password" name="currentPass">
</p>
<hr>
<button>Save settings</button>
</form>
<p><a href="/">Take me back to the home page!</a></p>