#mainMenu {
    display: grid;
    background-color: rgb(28, 28, 28);    
    grid-template-columns: 13% auto auto auto auto 13%;
    grid-template-rows: 70px;
    font-size: 18px;
}
.menuItem {
    padding: 15px;
    text-align: center;
}
.menuLink a {
    color: white;
    text-decoration: none;
}
.menuLink a:hover {
    text-decoration: underline;
}
#menu0 {
    grid-column-start: 1;
}
#menu1 {
    grid-column-start: 2;
}
#menu2 {
    grid-column-start: 3;
}
#menu3 {
    grid-column-start: 4;
}
#menu4 {
    grid-column-start: 5;
}