html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 176, 0);
}
/*Inspired by: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page*/
#page {
    min-height:100%;
    position:relative;
}
#mainSection {
    margin-left: auto;
    margin-right: auto;
    /*
    Padding bottom, same size as the footer,
    inspired by: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
     */
    padding-bottom: 50px;
    width: 75%;
    overflow: auto;
    font-size: 18px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #5aafff;
    text-decoration: underline;
}
a:visited {
    color: white;
}
.flash-success {
    padding: 10px;
    display: inline;
    background-color: lightgreen;
    color: black;
}
.flash-error {
    padding: 10px;
    display: inline;
    background-color: red;
    color: black;
}
.user {
    color: rgb(255, 176, 0);
}
.description {
    width: 75%;
    word-wrap: break-word;
}
button {
    cursor: pointer;
    background-color: rgb(28, 28, 28);
    color: white;
    border: 1px solid rgb(100, 100, 100);
    padding: 10px;
    border-radius: 3px;
}
button:hover {
    background-color: rgb(56, 56, 56);
    color: #5aafff;
    text-decoration: underline;
}
.big-green-btn {
    background-color: green;
    color: white;
    font-size: 50px;
    width: 300px;
    height: 150px;
    border: none;
}
input[type=text] {
    color: rgb(255, 176, 0);
    background-color: rgb(28, 28, 28);
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
}
input[type=password] {
    color: rgb(255, 176, 0);
    background-color: rgb(28, 28, 28);
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
}
textarea {
    color: rgb(255, 176, 0);
    background-color: rgb(28, 28, 28);
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
}
.turnPage a {
    color: rgb(0, 125, 255);
}
.turnPage a:visited {
    color: rgb(0, 125, 255);
}
.turnPageBtn {
    background-color: rgb(240, 240, 240)
}
video poster {
    width: 10px;
 }
