body {
    background-color: rgb(56, 56, 56);
}
#mainSection {
    color: rgb(255, 176, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: auto;
    width: 75%;
    overflow: auto;
    font-size: 18px;
}
a {
    color: white;
    text-decoration: none;
    /*
    color: #5aafff;
    */
}
a:hover {
    color: #5aafff;
    text-decoration: underline;
}
a:visited {
    color: white;
    /*
    color: rgb(255, 176, 0);
    color: #5aafff;*/
}
.flash-success {
    padding: 10px;
    display: inline;
    background-color: lightgreen;
    color: black;
}
.flash-error {
    padding: 10px;
    display: inline;
    background-color: red;
    color: black;
}
.user {
    color: rgb(255, 176, 0);
    /*
    color: rgb(240, 240, 240);*/
}
button {
    cursor: pointer;
}
.big-green-btn {
    background-color: green;
    color: white;
    font-size: 50px;
    width: 300px;
    height: 150px;
}
#mainMenu {
    display: grid;
    background-color: rgb(28, 28, 28);    
    grid-template-columns: 13% 120px 120px 120px auto 13%;
    grid-template-rows: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.menuItem {
    padding: 10px;
    text-align: left;
}
.menuLink a {
    color: white;
    text-decoration: none;
}
.menuLink a:hover {
    text-decoration: underline;
}
#menu1 {
    grid-column-start: 2;
}
#menu2 {
    grid-column-start: 3;
}
#menu3 {
    grid-column-start: 4;
}