<h3>Upload Video!</h3>
<form enctype="multipart/form-data" action="/upload?_csrf={{csrfToken}}" method="post">

<p>
<label for="video">File upload:</label>
<input type="file" accept="video/*" name="video" required>
</p>

<button>Upload</button>
</form>