<!--  -->
<section id="uploadWait"></section>
<form enctype="multipart/form-data" action="/upload?_csrf={{csrfToken}}" method="POST" id="uploadForm">

<h3>Upload Video!</h3>

<p>
    Max video file size: 100 MB
</p>

<p>
    Accepted file formats: Theora (.ogv, .ogg), 
    WebM (.webm)
</p>

<p>
<label for="video">File upload:</label>
<input type="file" accept="video/*" name="video" id="fileField" required>
</p>

<p><label for="title">Title:</label>
<input type="text" name="title" placeholder="Title" required></p>

<p>
<label for="description">Description:</label><br>
<textarea name="description" cols="30" rows="10" placeholder="Description" value="{{value}}"></textarea>
</p>

<button id="uploadBtn">Upload</button>
</form>

<template id="uploadingTemplate">
    <div>
        <h2>
        Uploading, please wait...
        </h2>
        <div class="spinner"></div>
    </div>
</template>

<script src="/js/uploadWait.js"></script>
