<!-- -->
<h3>Upload Video!</h3>
<form enctype="multipart/form-data" action="/upload?_csrf={{csrfToken}}" method="POST">

<p>
    Max video file size: 100 MB
</p>

<p>
    Accepted file formats: Theora (.ogv, .ogg), 
    MP4 (.mp4, .m4a, .m4p, .m4b, .m4r, .m4v),
    WebM (.webm)
</p>

<p>
<label for="video">File upload:</label>
<input type="file" accept="video/*" name="video" id="fileField" required>
</p>

<p><label for="title">Title:</label>
<input type="text" name="title" placeholder="Title" required></p>

<p>
<label for="description">Description:</label><br>
<textarea name="description" cols="30" rows="10" placeholder="Description" value="{{value}}"></textarea>
</p>

<button id="uploadBtn">Upload</button>
<br>
<section id="progressSection"></section>

<template id="progressTemplate">
    <div id="progressParagraph">
        <progress id="progressBar" value="0" max="100"></progress>
        <p>
            <b id="uploadStatus"></b>
        </p>
    </div>
</template>
</form>

<script src="/js/ProgressBar.js"></script>
